*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
	width: 90%;
	margin: auto;
	background-color: bisque;
}

p{
	font-size: large;
}

#displayimage{
	margin: auto;
	position: relative;
	width: 150px;
	border-radius: 7%;
	border-bottom: gold, solid, 5px;
}

.header{
	padding: 10px;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border-bottom: black, solid, 3px;
}

.about-me{
	position: relative;
	color: khaki;
	background-color: black;
	padding: 20px;
	margin-bottom: 5px;
	border-bottom: green;
}

.about-me h1{
	text-align: center;
}

.projects {
	position: relative;
	padding: 20px;
	margin: auto;
	background-color: khaki;
}

.projects h1{
	text-align: center;
}

.projects ul {
	justify-content: space-around;
}

.projects ul li{
	list-style: none;
}

.list-columns{
	width: 400px;
	float: left;
	padding: 15px;
	margin: 10px;
	background-color: gold;
	color: black;
}

.list-columns h2{
	text-align: center;
	font-weight: bolder;
}